
	{% include 'html-header.twig' %}


	<body class="{{body_class}}" data-template="base.twig">

	{% include 'images/sprite.svg' %}
	{% include 'browser-warning.twig' %}

		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}

		<section role="main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
				{% block content %}
					Sorry, no content
				{% endblock %}
			{% if sidebar %}
				{{sidebar}}
			{% endif %}
		</section>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		{% include 'scripts.twig' %}
	</body>
</html>
