{% extends "base.twig" %}

{% block content %}
	<div class="l-container">
		{% for post in posts %}
			{% post.title %}
			{% include ['teaser-'~post.post_type~'.twig', 'teaser.twig'] %}
		{% endfor %}
	</div>
{% endblock %}
