{% extends "base.twig" %}

{% block content %}
	<div class="l-page">

		{% if title %}
			<h1 class="page_title">{{title}}</h1>
		{% endif %}

		<div class="l-container">
			{% for post in posts %}
				{% post.title %}
				{% include ['teaser-'~post.post_type~'.twig', 'teaser.twig'] %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
