{% extends "base.twig" %}

{% block content %}
<div class="l-container">
  <article class="post-type-{{post.post_type}} Page" id="post-{{post.ID}}">
    <section class="Page-content u-contentWrapper">
      <h1 class="Page-title">{{post.title}}</h1>
      <div class="Page-body">
        {{post.content}}
      </div>
    </section>
  </article>
</div>
{% endblock %}
